{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "changelog",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "changelog"]
        },
        {
            "label": "check",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "check"]
        },
        {
            "label": "check-quality",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "lint"]
        },
        {
            "label": "check-types",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "typecheck"]
        },
        {
            "label": "check-docs",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "docs"]
        },
        {
            "label": "check-api",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "lint"]
        },
        {
            "label": "clean",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "clean"]
        },
        {
            "label": "docs",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "docs"]
        },
        {
            "label": "docs-deploy",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "docs-deploy"]
        },
        {
            "label": "format",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "format"]
        },
        {
            "label": "release",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "release", "${input:version}"]
        },
        {
            "label": "setup",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "setup"]
        },
        {
            "label": "test",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "test-cov"],
            "group": "test"
        },
        {
            "label": "vscode",
            "type": "process",
            "command": "uv",
            "args": ["run", "poe", "vscode"]
        }
    ],
    "inputs": [
        {
            "id": "version",
            "type": "promptString",
            "description": "Version"
        }
    ]
}
