name: release

"on":
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Setup uv and Python
      uses: astral-sh/setup-uv@v7.1.5
      with:
        python-version: "3.13"
        enable-cache: true
    - name: Install dependencies
      run: uv sync
    - name: Semantic Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: uv run semantic-release version --changelog --push --tag --vcs-release
